    <hr>

    <footer class="footer">
      <small>
        <strong><a href="http://elahesoltandoost.com">Roby on Rails Developer</a></strong>
        by <em><a href="http://elahesoltandoost.com">Elahe Soltandoost</a></em>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", '#' %></li>
        </ul>
      </nav>
    </footer>